* {
    box-sizing: border-box;
}

html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #2DAEEB;
}

a p {
    cursor: pointer !important;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 100px;
    border-bottom: 1px solid #ccc;
    margin: 0 50px;
    min-width: 650px;;
}

    header h1 {
        font-weight: 400;
        line-height: 100px;
        font-size: 30px;
        color: #2DAEEB;
        cursor: default;
    }
    
.input-container {
    height: 100px;
    margin: 0px 50px;
    min-width: 750px;
}

    .select-type {
        /*border: 1px solid red;*/
        width: 200px;
        height: 36px;
        margin: 30px 20px 0 0;
        display: inline-block;
        vertical-align: top;
    }
    
        .select-type select {
            border: 1px solid #ccc;
            background: transparent;
            width: 200px;
            height: 36px;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            padding: 5px 0 5px 10px;
            font-weight: 300;
            -webkit-appearance: none;
            -moz-appearance: none;

        }

    .input-container input {
        width: 200px;
        height: 36px;
        margin: 30px 20px 0 0;
        display: inline-block;
    }
    
.btn {
        width: 100px;
        height: 36px;
        margin: 30px 20px 0 0;
        display: inline-block;
        vertical-align: top;
        border: 1px solid #2DAEEB;
        border-radius: 6px;
        text-align: center;
        cursor: pointer;
}

    .btn p {
        line-height: 36px;
        font-weight: 300;
    }
    
    .btn:hover {
        background: #2DAEEB;
    }
    
    .btn:hover p {
        color: #fff;
    }
    
.error {
    border: 0;
    width: 140px;
}

.error:hover {
    background: none;
}

    .error:hover p {
        color: red;
    }

    .error p {
        color: red;
        text-align: left;
    }
    
/* REP DATA CONTAINER */

.rep-data-container {
    /*border: 1px solid red;*/
    margin: 0 50px;
    text-align: left;
    min-width: 1060px;
}

.col {
    width: 575px;
    /*border: 1px solid blue;*/
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-right: 50px;
}

.right {
    float: right;
}

.align-left {
    text-align: left;
}

.row {
    vertical-align: top;
    height: 50px;
}

#border-bottom {
        border-bottom: 1px solid #DDD;
        cursor: pointer;
    }

.sub-title {
    background: #F8F8F9;
    border-radius: 6px;
}

    .row h3 {
        font-weight: 300;
        font-size: 26px;
        line-height: 50px;
        padding-left: 2px;
        cursor: default;
    }
    
.highlight {
    color: #2DAEEB;
}

.highlightRep  {
    background: rgba(45, 174, 235, 0.2);
}
    
    .row h6 {
        font-weight: 300;
        font-size: 18px;
        line-height: 50px;
        display: inline-block;
        margin: 0px 50px 0 30px;
        cursor: default;
    }
    
#link {
    cursor: pointer;
}
    
    #party h6 {
        margin: 0;
        padding-right: 64px;
    }
    
.details {
    margin-bottom: 14px;
    border-radius: 6px;
}

    .details p {
        font-weight: 300;
        font-size: 18px;
        line-height: 50px;
        padding-left: 10px;
        color: #aaa;
        cursor: default;
    }
#rep-detail-text {
    color: #333;
}


/* MEDIA QUERIES */

@media (max-width: 1360px){
    .rep-data-container {
        text-align: center;
    }
    
    .col {
        width: 500px;
        margin-right: 10px;
    }
    
}